# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# secret variables file
.env
.envrc
!.env.temp
!.envrc.temp

# not ignore file
!.keep

# secret directory
secrets/

# parcel-bundler cache (https://parceljs.org/)
.cache
