.firebase
.nuxt
app/types/api
coverage
dist
node_modules
tmp
.babel.config.js
.eslintignore
.eslintrc.js
.gitignore
.prettierignore
.prettierrc.js
firebase.json
jest.config.js
package.json
tsconfig.json
yarn.lock
