# not ignore file
.keep

# bazel file
bazel-bin
bazel-out
bazel-service
bazel-testlogs

# proto file
*.pb.go
*.pb.validate.go

# coverage file
coverage.txt

# external library
third_party

# tmp file
tmp
