node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Coverage directory used by tools like istanbul
coverage

# macOS
.DS_Store

# proto file
*_pb.js
*_pb.d.ts
